/*General*/

:root {
    --main: #EDE8E4;
    --text: #181410;
    --blue: #2570BB;
    --red: #F06543;
}

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: var(--main);
}

.global-padding {
    padding-top: 25px;
    padding-inline: 50px;
}


/*Text styles*/

h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 125px;
    color: var(--text);
}

h2 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 60px;
    color: var(--text);
}

h3 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 30px;
    color: var(--text);
}

h4 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 21px;
    color: var(--text);
}

h5 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    color: var(--text);
}

h6 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: var(--text);
}


/*Navigation bar*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 58px;
    justify-content: center;
}

.nav-link {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--text);
}

.nav-link:hover,
.nav-link:active {
    color: var(--red);
    font-weight: 500;
}

.myname {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 30px;
    color: var(--text);
}

.myname::before {
    content: "";
    width: 95px;
    background-color: var(--text);
    height: 1px;
    position: absolute;
    top: 68px;
}


/*Project overview Section*/

.project {
    padding-block: 140px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.intro-project {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 759px;
}

#description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#proj-desc-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#proj-desc-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: end;
}

/***/

.overview-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.proj-overv {
    padding-block: 140px 140px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    width: 65%;
}

#title-overv {
    width: 30%;
}

#title-overv h5 {
    font-weight: 600;
}

/***/

.arrow-link {
    display: flex;
    color: var(--text);
    width: fit-content;
    background-color: var(--main);
    border: none;
    padding: 20px 26px;
    border-radius: 25px;
    text-transform: uppercase;
    transition: all .2s ease-in;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    letter-spacing: 1px;
    font-size: 1.25rem;
  }
  
  .arrow-link > .arrow {
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
    position: relative;
    transform: rotate(-45deg);
    margin-left: 8px;
    transition: all .2s ease-in;
  }
  
  .arrow-link > .arrow::before {
    display: block;
    background-color: var(--red);
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .2s ease-in;
    content: "";
    right: 0;
  }
  
  .arrow-link:hover > .arrow {
    transform: rotate(-45deg) translate(30px, 30px);
    border-color: var(--red);
  }
  
  .arrow-link:hover > .arrow::before {
    opacity: 1;
    width: 40px;
  }
  
  .arrow-link:hover {
    border: none;
    padding: 20px 80px 20px 20px;
    font-weight: 400;
    color: var(--red);
  }


/*Footer*/

.footer-align {
    display: flex;
    justify-content: right;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
}

.madeby {
    display: flex;
    justify-content: center;
}

#feel-free h5 {
    font-weight: 600;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-link a {
    color: var(--text);
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.8em;
}

::-webkit-scrollbar-track {
    background: #c5c4c4;
}

::-webkit-scrollbar-thumb {
    background: var(--red);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--red);
}


@media only screen and (max-width: 1600px) {
    .proj-overv {
        width: 80%;
    }

    #title-overv {
        width: 40%;
    }
}

@media only screen and (max-width: 1300px) {
    .proj-overv {
        gap: 40px;
    }
}


@media only screen and (max-width: 1134px) {
    .proj-overv {
        width: 90%;
    }
}

@media only screen and (max-width: 860px) {
    .intro-project {
        width: 100%;
    }

    .proj-overv {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    h5 {
        font-size: 16px;
    }
}


@media only screen and (max-width: 600px) {
    .proj-overv {
        flex-direction: column;
    }

    .footer-padd {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 530px) {
    .global-padding {
        padding-inline: 30px;
    }
    
    h3, 
    h4,
    .myname {
        font-size: 20px;
    }

    .myname::before {
        content: "";
        width: 65px;
        background-color: var(--text);
        height: 1px;
        position: absolute;
        top: 60px;
    }   

    #feel-free {
        text-align: center;
    }

    .contact {
        align-items: center;
    }
}